/* SHIN BADA 220908 */
/* Login & Register */

.outer {
	width:60%;
	min-width : 650px;
	background: rgb(248, 249, 250);
	box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 4px 0px;
	margin:auto;
	margin-top : 70px;
	margin-bottom : 70px;
}
	
#infoUpdate {
	width:400px;
	margin:auto;
	padding:10px;

}
#infoUpdate h3 {
	text-align:center;
}
.input_area {
    border: solid 1px #dadada;
    padding : 10px 10px 14px 10px;
    background : white;
}
.input_area input:not([type=checkbox]) {
	width : 250px;
	height : 20px;
	border: 0px;
}
.btnArea {
	text-align:center;
	padding : 50px;
}