@charset "UTF-8";


	article{	border:1px solid;
			background:#d3a27f;
			padding:20px;
			height:50px;
			display: flex;
			justify-content:space-around;
			margin:30px;
		
	 }
	nav{ width:1000px;
			height:600px;
			border:1px solid;
	}
			
	div {border:1px solid;
			box-sizing:border-box;
			
			
	}
	div.left {float:left;
		width:50%;
		float:left;
		
				
		}
	div.right {	float:right;
					width:50%;
					height:178px;
					padding:30px;
				
					line-height:250%
					
	}	
	
	